* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.3s ease;
}

body {
    font-family: Inter, "Crimson Text";
    background-color: var(--main-bg-color);
    color: var(--content-color);
    overflow-y: auto;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style: none;
}

/* ================================
            App Main 
================================ */


/* ================================
            App Main Header
================================ */

/* App Header */
.app-header {
    position: sticky;
    width: 100%;
    margin-top: 2px;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: solid 1px #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* Wrapper */
.app-header-wrapper {
    display: flex;
    margin: 0 20px;
    align-items: center;
}   

/* Navigation */
.app-navigation-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 80px;
}

/* Containers */
.logo-container,
.img-container,
.title-container,
.navigation-links ul,
.sign-in-container {
    display: flex;
}

/* Logo Container */
.logo-container {
    align-items: center;
}

/* Img Container */
.img-container {
    width: 120px;
    height: 81px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* Title Container */
.title-container {
    flex-direction: column;
    gap: 2px;
}

.title-container .logo-title {
    font-size: 15px;
    font-weight: 400;
}

.title-container .logo-description {
    font-size: 12px;
    font-weight: 400;
    color: #c2c2c2;
}

/* Navigational Links Container */
.navigation-links {
    margin: 0 auto;
}

.navigation-links ul {
    gap: 50px;
}

.links {
    font-size: 17px;
    font-weight: 400;
}

/* Sign In Buttons Container */
.sign-in-container {
    margin-left: auto;
    gap: 16px;
}

.sign-in-container button {
    color: var(--content-color);
    padding: 11px 6px;
    border-radius: 13px;
    font-size: 17px;
    font-weight: 400;
}

.login {
    background: none;
    border: none;
}

.signup {
    border: solid 1px #fff;
    background: var(--main-bg-color);
}