* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.3s ease;
}

body {
    font-family: Inter, "Crimson Text";
    background-color: var(--main-bg-color);
    color: var(--content-color);
    overflow-y: auto;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style: none;
}

/* ================================
            App Main 
================================ */


/* ================================
            App Main Header
================================ */

/* App Header */
.app-header {
    position: fixed;
    width: 100%;
    white-space: nowrap;
    /* background: var(--main-nav-color);
    border-bottom: solid 1px var(--main-nav-color);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
    z-index: 5;
}

/* Wrapper */
.app-header-wrapper {
    display: flex;
    margin: 0 20px;
    align-items: center;
}   

/* Navigation */
.app-navigation-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 80px;
}

/* Containers */
.logo-container,
.img-container,
.title-container,
.navigation-links ul,
.sign-in-container {
    display: flex;
}

/* Logo Container */
.logo-container {
    align-items: center;
}

/* Img Container */
.img-container {
    width: 120px;
    height: 81px;
    overflow: visible;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* Title Container */
.title-container {
    flex-direction: column;
    gap: 2px;
}

.title-container .logo-title {
    font-size: 15px;
    font-weight: 400;
}

.title-container .logo-description {
    font-size: 12px;
    font-weight: 400;
    color: #c2c2c2;
}

/* Navigational Links Container */
.navigation-links {
    margin: 0 auto;
}

.navigation-links ul {
    gap: 50px;
}

.links {
    font-size: 17px;
    font-weight: 400;
}

/* Sign In Buttons Container */
.sign-in-container {
    margin-left: auto;
    margin-right: 4px;
    gap: 16px;
}

.sign-in-container button {
    color: var(--content-color);
    padding: 8px 6px;
    border-radius: 13px;
    font-size: 17px;
    font-weight: 400;
    background: none;
}

.login {
    border: none;
}

.signup {
    border: solid 1px #fff;
}

/* ================================
            App Main Layout
================================ */

/* Main Layout */
.app-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

/* ================================
            Hero Section
================================ */

.hero-section {
    position: relative;
    background: var(--hero-section-color);
    min-height: 100vh;
}

/* Contents */
.hero-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

/* Fade Group */
.fade-hero-contents {
    position: fixed;
    display: flex;
    flex-direction: column;
    transition: transform 0.4s ease,
                opacity 0.4s ease;
    will-change: transform, opacity;
    align-items: center;
    gap: 32px;
}

/* Hero Content Title */
.main-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* H1 Styles */
.main-text-container h1 {
    font-size: 74px;
    font-weight: 700;
}

/* Highlighted Text */
.highlighted {
    background: var(--hero-title-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: 900;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-shadow: 0 0 30px rgba(38, 0, 255, 0.25);
    background-size: 200% 200%;
    animation: gradientMove 6s ease infinite;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Hero Content Description */
.description-container {
    display: flex;
    max-width: 1050px;
}

.description-container span {
    text-align: center;
    font-size: 17px;
    font-weight: 400;
}

/* Hero Content Buttons */
.buttons-container {
    display: flex;
    align-items: center;
    gap: 18px;
}

.buttons-container button {
    padding: 10px 8px;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    border-radius: 6px;
    border: 1px solid #fff;
    background: var(--main-nav-color);
    cursor: pointer;
}

/* Hero Content Carousel */
.carousel-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1160px;
    height: 708px;
    padding: 15px 25px;
    margin-top: 670px;
    align-items: flex-end;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #8088ED;
}

/* Carousel Items */
.items img {
    display: none;
}