/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:opsz,wght@14..32,100..900&family=Lilita+One&family=Pacifico&family=Roboto:wght@100..900&display=swap');

/* Root CSS */
:root {
    --bg-color: #F5F6FB;
    --special-bg-color: #E0E7FF;
    --primary-text-color: #1E1E1E;
    --secondary-text-color: #6B6B6B;
    --tertiary-text-color: #F9FAFB;
    --special-text-color: #4F46E5;
    --border-radius: 12px;
    --box-shadow: 0 2px 7.5px 2px rgba(0, 0, 0, 0.25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    font-family: Inter, "Crimson Text";
    background-color: var(--bg-color);
    color: var(--primary-text-color);
    min-height: 100vh;
    overflow-y: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* Sidebar Styles */
.sidebar {
    position: sticky;
    top: 0;
    height: calc(100vh - 64px);
    background: var(--bg-color);
    transition: width 0.3s ease;
    overflow: hidden;
    border-right: 2px solid #e5e7eb;
}

.sidebar.expanded {
    width: 250px;
}

.sidebar.collapsed {
    width: 50px;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    color: var(--primary-text-color);
    align-items: center;
}

.sidebar nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.sidebar nav a {
    display: flex;
    align-items: center;
    gap: 11px;
}

.nav-icon {
    font-size: 25px;
    min-width: 24px;
}

.nav-label {
    font-size: 16px;
    min-width: 24px;
    font-weight: 400;
    white-space: nowrap;
    transition: opacity 0.2s ease;
}

.sidebar.collapsed .nav-label {
    opacity: 0;
    pointer-events: none;
}
