/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:opsz,wght@14..32,100..900&family=Lilita+One&family=Pacifico&family=Roboto:wght@100..900&display=swap');

/* Root CSS */
:root {
    --bg-color: #F5F6FB;
    --special-bg-color: #E0E7FF;
    --primary-text-color: #1E1E1E;
    --secondary-text-color: #6B6B6B;
    --tertiary-text-color: #F9FAFB;
    --special-text-color: #4F46E5;
    --border-radius: 12px;
    --box-shadow: 0 2px 7.5px 2px rgba(0, 0, 0, 0.25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    font-family: Inter, "Crimson Text";
    background-color: var(--bg-color);
    color: var(--primary-text-color);
    min-height: 100vh;
    overflow-y: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* Sidebar Styles */
.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    background: var(--bg-color);
    transition: width 0.3s ease;
    overflow: hidden;
    border-right: 2px solid #e5e7eb;
}

.sidebar.expanded {
    width: 250px;
}

.sidebar.collapsed {
    width: 50px;
}

.sidebar nav header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.sidebar nav header .logo-title {
    display: flex;
    align-items: center;
}

.sidebar nav header img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.sidebar nav header h2 {
    font-size: 22px;
    font-weight: 700;
}

.sidebar nav header button {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    color: var(--primary-text-color);
    align-items: center;
}

.sidebar nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.sidebar nav a {
    display: flex;
    align-items: center;
    gap: 11px;
}

.nav-icon {
    font-size: 25px;
    min-width: 24px;
}

.nav-label {
    font-size: 16px;
    min-width: 24px;
    font-weight: 400;
    white-space: nowrap;
    transition: opacity 0.2s ease;
}

.sidebar.collapsed .nav-label {
    opacity: 0;
    pointer-events: none;
}

/* Main Layout */
.app-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

/* App Header Styles */
.app-layout header {
    position: relative;
    width: 100%;
}

.cover-container {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.image-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pfp-container {
    position: absolute;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    top: 110px;
    left: 130px;
    border: 5px solid var(--bg-color);
}

.image-pfp {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.main-head {
    display: flex;
    margin-top: 70px;
    padding: 0 130px;
    text-align: center;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
}

.main-head h1 {
    font-family: "Crimson Text";
    font-size: 3rem;
    font-weight: 800;
}

.main-head span {
    font-size: 1.1rem;
    font-weight: 300;
}

header hr {
    background: #7E7E7E;
    height: 3px;
}