/* Importing Root Css */
@import url(../../src/style/root.css);

/* Dashboard Styles */
.dashboard {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.0625rem;
    width: 100%;
    max-width: 57.1875rem;
    min-height: 9.9375rem;  
    border-radius: var(--border-radius);
    background: var(--content-color);
    box-shadow: var(--box-shadow);
    padding: 1.125rem 1.25rem;
}

/* Left Content */
.left-dash {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    align-items: flex-start;
}

.left-dash h1 {
    font-size: 1.5rem;
    font-weight: 400;
}

.left-dash p {
    font-size: .9375rem;
    font-weight: 400;
}

/* Right Content */
.right-dash {
    display: flex;
    flex-direction: column;
    gap: 1.1875rem;
    align-items: flex-end;
}

.right-dash p {
    font-size: .875rem;
    font-weight: 400;
}

/* Overview Boxes */
.overview-stats {
    display: flex;
    gap: .3125rem;
    align-items: center;
}

.overview-box {
    display: flex;
    height: 2.0625rem;
    border-radius: 3.125rem;
    background: var(--special-bg-color);
    padding: .5rem .375rem;
    align-items: center;
    justify-content: center;
    gap: .625rem;
}

.overview-box a {
    display: flex;
    align-items: center;
    gap: .1875rem;
}

.overview-box a span {
    font-size: .75rem;
    font-weight: 400;
    color: var(--special-text-color);
}

/* Random Quote Rectangle */
.random-quote {
    display: flex;
    width: 100%;
    height: auto;
    padding: .5625rem 1.0625rem;
    align-items: center;
    border-radius: .4375rem;
    border: .0625rem dashed var(--border-color);
    background: var(--box-color);
}

.random-quote blockquote,
.random-quote p {
    color: var(--input-color);
    font-size: .9375rem;
    font-weight: 400;
}