/* Importing Root Css */
@import url(../../src/style/root.css);

/* Tasks Styles */

/* Main Box */
.tasks {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 28.125rem;
    border-radius: var(--border-radius);
    background: var(--content-color);
    box-shadow: var(--box-shadow);
    padding: 1.125rem 1.25rem;
    gap: .375rem;
}

/* Left Content */
.left-task {
    width: 100%;
}

.task-header {
    display: flex;
    justify-content: flex-start;
    gap: 1.25rem;
}

.task-header h1 {
    font-size: 1.5rem;
    font-weight: 400;
}

/* Rigth Content */
.right-task {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .5625rem;
}

.right-task h2 {
    font-size: .875rem;
    font-weight: 400;
}

/* Buttons */
.action-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4375rem;
}

.action-buttons button {
    display: flex;
    width: 3.3125rem;
    height: 2.0625rem;
    padding: .5rem .375rem;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    color: var(--tertiary-text-color);
    font-size: .75rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

/* Buttons Color */
.add-btn {
    background: #46E563;
}

.task-btn {
    background: #E5AD46;
}

.delete-btn {
    background: #E55346;
}

/* Task Bar Progress */
.task-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.6875rem;
    padding: .625rem 0;
}

.task-progress span {
    text-align: end;
    font-size: .9375rem;
    font-weight: 400;
}

/* Bar Progress */
.progress-bar {
    position: relative;
    flex: 1;
    height: .625rem;
    border-radius: .3125rem;
    background: var(--box-color);
}

.progress-fill {
    position: absolute;
    height: 100%;
    border-radius: .3125rem;
    background: #46E563;
}

/* Task Lists */
.task-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    gap: .3125rem;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.task-input {
    display: flex;
    width: 100%;
    height: 2.3125rem;
    justify-content: flex-start;
    border: .0625rem dashed var(--border-color);
    color: var(--input-color);
    font-size: .9375rem;
    font-weight: 550;
    border-radius: .4375rem;
    padding: .5625rem 1.0625rem;
    background: var(--box-color);
}

.input-wrapper label {
    position: absolute;
    top: 50%;
    left: 1.0625rem;
    transform: translateY(-50%);
    color: var(--input-color);
    font-size: .9375rem;
    font-weight: 550;
    pointer-events: none;
    transition: all 0.3s ease;
}

.task-list {
    display: flex;
    flex-direction: column;
    padding: .625rem .625rem .625rem 0;
    gap: .625rem;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.task-item {
    display: flex;
    gap: .9375rem;
    padding: .375rem .8125rem;
    justify-content: space-between;
    border-bottom: .0625rem dashed var(--border-color);
}

.task-left {
    display: flex;
    align-items: center;
    gap: .875rem;
    flex: 1;
}

.task-left input[type='checkbox'] {
    accent-color: var(--tertiary-text-color);
}

.task-left span {
    font-size: .9375rem;
    font-weight: 400;
}

/* Task Buttons Hover */
.add-btn:hover {
    background: #65e27c;
}

.task-btn:hover {
    background: #e2bb73;
}

.delete-btn:hover {
    background: #db7d75;
}
.action-buttons button:active {
    transform: scale(0.85);
}

/* Task Input Effect */
.task-input:focus {
    border: .0625rem solid var(--border-color);
    outline: none;
}

/* Task Input + Label Focus */
.task-input:focus + label,
.task-input:valid + label {
    font-size: .625rem;
    color: var(--special-bg-color);
    opacity: 0;
}

/* Task List Scrollbar */
.task-list::-webkit-scrollbar {
    width: .5rem;
}

.task-list::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
}

.task-list::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    background: transparent;
}