/* Importing Root Css */
@import url(/src/style/root.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Inter, "Crimson Text";
    background: #101111;
    min-height: 100vh;
    color: #FAFAFA;
    font-size: 14px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

input {
    outline: none;
}

/* Main Authentication Form Style */
.auth-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding-top: 20px;
}

/* Authentication Header */
.auth-header {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    overflow: visible;
    white-space: nowrap;
}

/* Header Wrapper */
.auth-header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 6rem;
    margin: 25px 0;
    padding: 0;
}

/* Header Link */
.auth-header-wrapper a {
    height: 100%;
}

/* Text Content */
.text-content {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 400px;
}

/* Link Logo */
.text-content img {
    width: 190px;
    height: 110px;
}

/* Link Title */
.text-content span {
    font-size: 29px;
    font-weight: 600;
    border-bottom: solid 3px transparent;
    transition: border 0.3s ease;
}

/* Link Hover */
.auth-header-wrapper a:hover .text-content span {
    border-bottom: solid 3px #c45336;
}

/* Authentication Form Login */
.auth-form {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    min-height: 740px;
    width: 100%;
    max-width: 1100px;
    border: 15px solid #0c0c0c;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

/* Design Form */
.design-form {
    width: 100%;
}

/* Authentications */
.auth-login {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    min-width: 465px;
    padding: 58px 41px;
    background: #2b2b2b;
}

/* Title */
.title {
    margin: 0 auto;
    width: 100%;
}

.title h1 {
    margin-bottom: 55px;
    text-align: center;
    font-family: 'Crimson text';
    font-size: 3rem;
    font-weight: 600;
}

/* Login Form */
.login-form {
    display: block;
}

.login-form div {
    margin-bottom: 33px;
}

/* Login Input Box Group */
.auth-input-box {
    position: relative;
    width: 100%;
    display: block;
    color: #1E1E1E;
}

/* Username / Password Input Box */
.auth-input-box input {
    width: 100%;
    padding: 15px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border 0.4s ease;
}

/* Input Box Label */
.auth-input-box label {
    position: absolute;
    top: 49%;
    left: 15px;
    transform: translateY(-49%);
    transition: top 0.3s ease;
}

/* Input Box Input Focus */
.auth-input-box input:focus{
    border: 2px solid #c45336;
}

/* Input Box Label Focus Animation */
.auth-input-box input:focus + label,
.auth-input-box input:valid + label {
    top: -11px;
    color: #FAFAFA;
}

/* Login Form Settings */
.auth-form-settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}