/* Responsive Breakpoints */

/* PC BREAKPOINT */
@media (max-width: 1440px) {
    /* Main Content */
    .main-content {
        padding: 0 clamp(24px, 5vw, 110px);
    }

    /* Main Container */
    .main-info-container {
        padding: 0 clamp(24px, 5vw, 110px);
    }

    /* User Profile */ 
    .pfp-container {
        left: 70px;
    }

    /* User Buttons */
    .cover-btn,
    .cover-option,
    .theme-switch {
        right: 70px;
    }
}

/* LAPTOP BREAKPOINT */
@media (max-width: 1024px) {
    /* Expanded Sidebar */
    .sidebar.expanded {
        width: 220px;
    }

    .toggle-sidebar.active-toggle {
        left: 180px;
    }

    .nav-title,
    .nav-label,
    .user-quick-info {
        max-width: 130px;
    }

    .main-content {
        padding: 0 clamp(16px, 4vw, 70px);
    }

    /* User Profile */
    .pfp-container {
        left: 45px;
    }

    /* User Buttons */
    .cover-btn,
    .cover-option,
    .theme-switch {
        right: 45px;
    }
}

/* TABLET BREAKPOINT */
@media (max-width: 868px) {
    /* Sidebar */
    .sidebar {
        position: fixed;
        height: 100vh;
        z-index: 200;
    }

    .sidebar.expanded {
        width: 210px;
    }

    .sidebar.collapsed {
        width: 0;
        /* opacity: 0;
        pointer-events: none; */
    }

    .sidebar.collapsed .nav-wrapper {
        opacity: 0;
        pointer-events: none;
    }

    /* Sidebar Toggle Btn */
    .toggle-sidebar {
        top: 65px;
    }

    .toggle-sidebar.active-toggle {
        left: 195px;
    }

    .toggle-sidebar.deactive-toggle {
        left: 16px;
        top: 16px;
    }

    /* Header Layout */
    .main-info-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        margin-top: 85px;
        margin-bottom: 13px;
    }

    .username h1 {
        font-size: 2.3rem;
    }

    /* Profile */
    .pfp-container {
        width: 105px;
        height: 105px;
        top: 130px;
        left: 16px;
    }

    .user-icon {
        padding: 12px;
    }

    .username {
        align-items: center;
    }

    /* Buttons */
    .cover-btn {
        top: 16px;
        right: 16px;
        font-size: 14px;
        padding: 8px 10px;
    }

    .pfp-btn {
        padding: 2px;
        top: 70px;
    }

    .pfp-btn span {
        font-size: 23px;
    }

    .cover-option,
    .pfp-option {
        width: 180px;
    }

    .cover-option {
        top: 60px;
        right: 16px;
    }

    .pfp-option {
        top: 105px;
        left: 16px;
    }

    /* Theme Switch */
    .theme-switch {
        right: 16px;
    }

    .main-content {
        padding: 0 16px;
    }

    /* ============ DASHBOARD ============ */

    /* Main Dash */
    .dashboard {
        padding: 13px 15px;
        height: auto;
    }

    .left-dash,
    .right-dash {
        gap: 12px;
    }

    /* Left Content */
    .left-dash {
        width: 220px;
    }

    /* Random Quote Box */
    .random-quote {
        padding: 5px 10px;
        height: auto;
    }

    .random-quote blockquote {
        font-size: 14px;
    }
}

/* SMALL TABLET BREAKPOINT */
@media (max-width: 650px) {
    /* ============ DASHBOARD ============ */
    /* Main Dash */
    .dashboard {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .left-dash,
    .right-dash {
        width: 100%;
        align-items: flex-start;
    }

    .left-dash p {
        display: none;
    }

    .right-dash {
        gap: 10px;
    }
}

/* LARGE MOBILE BREAKPOINT */
@media (max-width: 425px) {
    /* Sidebar */
    .sidebar.expanded {
        width: 180px;
    }

    /* Mini Profile */
    .user-wrapper {
        justify-content: center;
    }

    .user-img-container {
        width: 35px;
        height: 35px;
    }

    .mini-icon {
        padding: 2px;
        font-size: 30px;
    }

    .user-log {
        justify-content: center;
    }

    /* Sidebar Button */
    .toggle-sidebar.active-toggle {
        left: 165px;
    }

    .nav-title,
    .nav-label,
    .user-quick-info {
        font-size: 13px;
        max-width: 110px;
    }

    /* Profile */
    .pfp-container {
        width: 100px;
        height: 100px;
        top: 140px;
    }

    .username h1 {
        font-size: 1.9rem;
    }

    .current-date {
        font-size: 0.9rem;
    }

    /* Buttons */
    .cover-btn {
        font-size: 13px;
        padding: 6px 8px;
    }

    .pfp-btn {
        top: 60px;
    }

    .cover-option,
    .pfp-option {
        width: 160px;
    }

    .cover-option {
        top: 55px;
    }

    .pfp-option {
        top: 95px;
    }
}