/* Tasks Styles */

/* Main Box */
.tasks {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 450px;
    border-radius: var(--border-radius);
    background: var(--content-color);
    box-shadow: var(--box-shadow);
    padding: 18px 20px;
    gap: 6px;
}

/* Left Content */
.left-task {
    width: 100%;
}

.task-header {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.task-header h1 {
    font-size: 24px;
    font-weight: 400;
}

/* Rigth Content */
.right-task {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 9px;
}

.right-task h2 {
    font-size: 14px;
    font-weight: 400;
}

/* Buttons */
.action-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.action-buttons button {
    display: flex;
    width: 53px;
    height: 33px;
    padding: 8px 6px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: var(--tertiary-text-color);
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

/* Buttons Color */
.add-btn {
    background: #46E563;
}

.task-btn {
    background: #E5AD46;
}

.delete-btn {
    background: #E55346;
}

/* Task Bar Progress */
.task-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 27px;
    padding: 10px 0;
}

.task-progress span {
    text-align: end;
    font-size: 15px;
    font-weight: 400;
}

/* Bar Progress */
.progress-bar {
    position: relative;
    flex: 1;
    height: 10px;
    border-radius: 5px;
    background: var(--box-color);
}

.progress-fill {
    position: absolute;
    height: 100%;
    border-radius: 5px;
    background: #46E563;
}

/* Task Lists */
.task-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.task-input {
    display: flex;
    width: 100%;
    height: 37px;
    justify-content: flex-start;
    border: 1px dashed var(--border-color);
    color: var(--input-color);
    border-radius: 7px;
    padding: 9px 17px;
    background: var(--box-color);
}

.task-list {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 0;
    gap: 10px;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.task-item {
    display: flex;
    gap: 15px;
    padding: 6px 13px;
    justify-content: space-between;
    border-bottom: 1px dashed var(--border-color);
}

.task-left {
    display: flex;
    align-items: center;
    gap: 14px;
    flex: 1;
}

.task-left input[type='checkbox'] {
    accent-color: var(--tertiary-text-color);
}

.task-left span {
    font-size: 15px;
    font-weight: 400;
}

/* Task Input Effect */
.task-input:focus {
    border: 1px dashed var(--border-color);
}

/* Task List Scrollbar */
.task-list::-webkit-scrollbar {
    width: 8px;
}

.task-list::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
}

.task-list::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    background: transparent;
}