/* Tasks Styles */
.tasks {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: var(--border-radius);
    background: #fff;
    box-shadow: var(--box-shadow);
    padding: 18px 20px;
}

.task-header {
    display: flex;
    justify-content: space-between;
}

.task-header h1 {
    font-size: 24px;
    font-weight: 400;
}

.right-task {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 9px;
}

.right-task h2 {
    font-size: 14px;
    font-weight: 400;
}

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.action-buttons button {
    display: flex;
    width: 53px;
    height: 33px;
    padding: 8px 6px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: var(--tertiary-text-color);
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.new-btn {
    background: #46E563;
}

.task-btn {
    background: #E5AD46;
}

.delete-btn {
    background: #E55346;
}

.task-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 27px;
    margin: 10px 0;
}

.task-progress span {
    text-align: end;
    font-size: 15px;
    font-weight: 400;
}

.progress-bar {
    position: relative;
    flex: 1;
    height: 10px;
    border-radius: 5px;
    background: #E5E7EB;
}

.progress-fill {
    position: absolute;
    height: 100%;
    border-radius: 5px;
    background: #46E563;
}

.task-wrapper {
    display: flex;
    width: 100%;
}

.task-wrapper input {
    display: flex;
    width: 100%;
    height: 37px;
    justify-content: flex-start;
    border: 1px solid #E5E7EB;
    border-radius: 7px;
    padding: 9px 17px;
    background: #f9fafb;
}